*{
    margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Poppins' sans-serif;
}
body{
    background-color: #fff; display: flex; justify-content: center; flex-direction: column; place-items: center;
}

.container{
    margin-top: 200px; width: 500px;
    
}
h1{
    display: flex; justify-content: center; margin-top: 5px; margin-bottom: 50px; color: teal;
}

.same{
    display: flex; flex-direction: column;
    
}
input{
    display: flex; justify-content: flex-end;
}
div{
    margin: 20px;   
}
.same input{
    margin-left: 0px; margin-bottom: 2px; height: 30px; outline: 0px; border: 0px; border-bottom: 1px solid teal;
}
button{
    padding: 15px; margin-left: 20px; background-color: teal; color: #fff; border-radius: 5px; cursor: pointer; border: none; outline: none;
}
button:hover{
    background-color: rgb(147, 248, 248);    
}
